{% include "header.html" %}
  <div class="w3-container w3-padding-10" id="booking">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-10">Select a Schedule</h3><h6><b>{{doctor["specialty"]}}</b> ( {{date}} )</h6>
  </div>
  <div class="w3-row-padding">
  <table
  style="width:100%;height:300px"
  >
    <tr><th><b> </b></th><th><b>Available Time Slots</b></th></tr>
  <form action="confirmation" method="post">
    {% for x in doctor_available_hours %}
      <tr><td style="width:200px;height:15px;text-align:center"><input type="checkbox" name="timeslot" value={{x}}></td><td style="text-align:center">{{x}}</td></tr>
    {% endfor %}
  </table>
  <input type="hidden" name="code" value= {{code}} >
  <input type="hidden" name="date" value= {{date}} >
  <div style = "font-size:12px; position:relative;"><input type="submit" value="Select"/></div>
  </form>
{% include "footer.html" %}
