{% include "header.html" %}
<div style = "position:relative; top:50px;">
  <div class="w3-container w3-padding-32" id="booking">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Select a Schedule</h3>
  </div>
  <div class="w3-row-padding">
  <table>
    <tr><th><b>Available Time Slots</b></th></tr>
    {% for x in doctor_hours %}
      <tr><td><a href="confirm?code={{code}}&timeslot={{x}}:00">{{x}}:00</a></td></tr>
      <tr><td><a href="confirm?code={{code}}&timeslot={{x}}:30">{{x}}:30</a></td></tr>
    {% endfor %}
  </table>
<form action="/auth" method="POST">
{% include "footer.html" %}
