{% include "header.html" %}
<div style = "position:relative; top:50px;">
  <div class="w3-container w3-padding-32" id="booking">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Select a Schedule</h3>
  </div>
  <div class="w3-row-padding">
  <table>
    <tr><th><b>Available Time Slots</b></th></tr>
    <form action="confirmation" method="post">
      <input type="date" name="date"/>
    {% for x in doctor_hours %}
      <tr><td><input type="checkbox" name="timeslot" value={{x}}:00>{{x}}:00</td></tr>
      <tr><td><input type="checkbox" name="timeslot" value={{x}}:30>{{x}}:30</td></tr>
    {% endfor %}
    <input type="hidden" name="code" value= {{code}} >
    <input type="submit" value="Select"/>
    </form>
    {% if taken is defined %}
    <tr><th><b>Sorry! That schedule is taken.</b></th></tr>
    {% endif %}
  </table>
{% include "footer.html" %}
