{% include "header.html" %}
  <div class="w3-container w3-padding-10" id="booking">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-10">Select a Service</h3>
  </div>
  <div class="w3-row-padding">
  {% for service in services_list %}
  <div class="w3-third w3-container w3-margin-bottom">
    <div class="w3-container w3-white">
    <button class="w3-button w3-white"><h5><a href="date?code={{service["code"]}}">{{service["specialty"]}}</a></h5></button>
    </div>
  </div>
  {% endfor %}
  </div>
{% include "footer.html" %}
