{% include "header.html" %}
  <div class="w3-container w3-padding-10" id="booking">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-10">Confirm Booking</h3>
  </div>
<div class="w3-container">
  <table style="text-align:center">
    <tr><td style="height:50px;width:100px">Service:</td><td style="height:50px;width:200px;text-align:center">{{doctor["specialty"]}}</td></tr>
    <tr><td style="height:50px;width:100px">Doctor:</td><td style="height:50px;width:200px;text-align:center">Dr. {{doctor["firstname"]}} {{doctor["lastname"]}}</td></tr>
    <tr><td style="height:50px;width:100px">Date:</td><td style="height:50px;width:200px;text-align:center">{{date}}</td></tr>
    <tr><td style="height:50px;width:100px">Time:</td><td style="height:50px;width:200px;text-align:center">{{timeslot}}</td></tr>
  </table>
  <form action="confirm" method="post">
    <input type="hidden" name="code" value='{{ doctor["code"] }}''>
    <input type="hidden" name="timeslot" value='{{timeslot}}''>
    <input type="hidden" name="date" value='{{date}}''>
  <div style = "position:relative;left:35"><input type="submit" value="Confirm"/></div>
  </form>
</div>
{% include "footer.html" %}
