{% include "header.html" %}
  <div class="w3-container w3-padding-10" id="booking">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-10">Confirm Booking</h3>
  </div>
  <div class="w3-row-padding">
  <table>
    <tr><td>Service:</td><td>{{doctor["specialty"]}}</td></tr>
    <tr><td>Doctor:</td><td>Dr. {{doctor["firstname"]}} {{doctor["lastname"]}}</td></tr>
    <tr><td>Date:</td><td>{{date}}</td></tr>
    <tr><td>Time:</td><td>{{timeslot}}</td></tr>
  </table>
      <form action="confirm" method="post">
        <input type="hidden" name="code" value='{{ doctor["code"] }}''>
        <input type="hidden" name="timeslot" value='{{timeslot}}''>
        <input type="hidden" name="date" value='{{date}}''>
      <input type="submit" value="Confirm"/></form>

{% include "footer.html" %}
