{% include "header.html" %}
  <div class="w3-container w3-padding-10" id="booking">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-10">Select a Date </h3><h6><b>{{doctor["specialty"]}}</b></h6>
  </div>
  <div class="w3-row-padding">

      <form action="schedule" method="post">
        <input type="date" name="date" min="2021-06-01" required/>
        <input type="hidden" name="code" value= {{code}} >
      <input type="submit" value="Select"/>

  </div>
{% include "footer.html" %}
