{% include "header.html" %}
<div style = "position:relative; text-align:center; top:120px">
<h1>Doctor Login</h1>
</div>
<form action="/doctorauth" method="POST">
   <div style = "position:relative; left:620px; top:120px;">
     Username:
   <br><input type="text" name="username"></input>
   </div>
   <div style = "position:relative; left:620px; top:130px;">
     Password:
   <br><input type="password" name="password"></input>
   </div>
   <div style = "position:relative; text-align:center; top:145px;">
   <input type="submit" value="Login"/>
   </div>
</form>
</html>
