{% include "header.html" %}
<div style = "position:relative; left:685px; top:120px">
<h1>Login</h1>
</div>
<form action="/auth" method="POST">
   <div style = "position:relative; left:630px; top:120px;">
     Username:
   <br><input type="text" name="username"></input>
   </div>
   <div style = "position:relative; left:630px; top:130px;">
     Password:
   <br><input type="password" name="password"></input>
   </div>
   <div style = "position:relative; left:699px; top:145px;">
   <input type="submit" value="Login"/>
   </div>
   <p/>
   <div style = "position:relative; left:559px; top:145px;">
   <a href='/createaccount'>Don't have an account?
     Click here to create one</a>
   </div>
</form>
</html>
