{% include "header.html" %}
<div style = "position:relative; text-align:center; top:120px">
<h1>Login</h1>
</div>
<form action="/auth" method="POST">
   <div style = "position:relative; left:620px; top:120px;">
     Username:
   <br><input type="text" name="username"></input>
   </div>
   <div style = "position:relative; left:620px; top:130px;">
     Password:
   <br><input type="password" name="password"></input>
   </div>
   <div style = "position:relative; text-align:center; top:145px;">
   <input type="submit" value="Login"/>
   </div>
   <p/>
   <div style = "position:relative; left:560px; top:245px;">
   <b>Invalid username / password. Try again.</b>
   </div>
   <div style = "position:relative; text-align:center; top:145px;">
   <a href='/createaccount'>Don't have an account?
     Click here to create one</a>
   </div>
   <p/>
   <div style = "position:relative;top:145px; text-align:center">
   <a href='/doctorlogin'>Doctor Login</a>
   </div>
</form>
</html>
